<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="SqlStr" value="Data Source=.;Initial Catalog=90X;User Id=sa;Password=123456; "/>
    <add key="Log" value="true"/>
  </appSettings>
</configuration>
